<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            height: 200px;
            width: 200px;
            /* border-radius: 50%; */
            margin:1rem;
            border: 2px solid black;
        }
        h3{
            /* display: flex; */
            align-items: center;
        }
        h3>p{
            margin-left: 1rem;
            margin-top: -1rem;
        }
    </style>
</head>
<body>
    <h1>My Data : <%=data.name%></h1>
    <h3>Followarse : <%=data.followers%> &nbsp;&nbsp;&nbsp; Following : <%=data.following%> </h3>
    <h2>
        <%for(let post of data.posts){%>
            <h3>
                <img src="<%=post.image%>" alt=""><br>
                <p>Likes : <%=post.likes%> &nbsp;&nbsp;
                comments : <%=post.comments%></p>
             </h3>
        <%}%>
    </h2>
    <button style="background: royalblue;  color: white; padding: .8rem 3rem; border-radius: 20px; border: 0;">Follow</button>
    <button style="background: royalblue;  color: white; padding: .8rem 3rem; border-radius: 20px; border: 0;">Message</button>
</body>
</html>